<p><%= raw question_text %></p>

<ul>
  <% @transaction.postage_options.each do |value,option| %>
    <li>
      <%= label_tag "transaction_postage_option_#{value}" do %>
        <%= radio_button_tag "transaction[postage_option]", value %> <%= option['label'] %> - &pound;<%= format_money option['cost'] %>
      <% end %>
    </li>
  <% end %>
</ul>
