<main id="content" role="main" class="group">

  <header class="page-header group">
    <div>
      <h1><span>Service</span> <%= @transaction.title %></h1>
    </div>
  </header>
  <div class="article-container group">
      <article role="article" class="group">
       <div class="inner">
         <%= render "partials/transactions/#{@transaction.slug}/confirm" %>

          <%= form_tag @epdq_request.request_url, :class => "epdq-submit" do %>
            <%- @epdq_request.form_attributes.each do |k, v| -%>
              <%= hidden_field_tag k, v %>
            <%- end -%>

            <p id="get-started" class="get-started group">
              <button class="button" type="submit">Pay</button>
              <span class="destination"> on Barclaycard</span>
            </p>
          <% end %>
       </div>
     </article>
  </div>

</main>

<div id="related-items"></div>

<% content_for :wrapper_classes do %>service<% end %>
<% content_for :title do %><%= @transaction.title %><% end %>
