<section id="content" role="main" class="group">

  <header class="page-header group">
    <hgroup>
      <h1>EPDQ Transactions</h1>
    </hgroup>
  </header>
  <div class="article-container group">
      <article role="article" class="group">
       <div class="inner">
          <ul>
            <li><%= link_to "Payment for certificates to get married abroad", transaction_path("pay-foreign-marriage-certificates") %></li>
            <li><%= link_to "Deposit foreign marriage or civil partnership certificates", transaction_path("deposit-foreign-marriage") %></li>
            <li><%= link_to "Payment to register a death abroad", transaction_path("pay-register-death-abroad") %></li>
            <li><%= link_to "Payment to register a birth abroad", transaction_path("pay-to-register-birth-abroad") %></li>
            <li><%= link_to "Pay to legalise documents by post", transaction_path("pay-legalisation-post") %></li>
            <li><%= link_to "Pay to legalise documents using the drop-off service", transaction_path("pay-legalisation-drop-off") %></li>
          </ul>
       </div>
     </article>
  </div>

</section>

<div id="related-items"></div>
